<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Members.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/users">
          <div class="cell1"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/users/rooms">
          <div class="cell2"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">STUDIOS</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <% for instructor in @instructors %>
    <div class="index">
      <br>
      <img class= "resize" src="/images/empty.png" alt="">
      <p><%=instructor.full_name()%></p>
      <p class="profile-margins"><%=instructor.profile()%></p>
      <p><%=instructor.email_address()%></p>
      <a href="/users/instructors/<%= instructor.id %>/sessions">
        <button type="button" name="button">SESSIONS</button>
      </a>
      <br>
    </div>
    <br>
    <%end%>
    <br/>
    <br/>
  </section>
  <section>
    <div class="quote">
      <p>“Be hungry for success, </p>
    </div>
    <div class="quote-middle">
      <p>&nbsp; hungry to make your mark,</p>
    </div>
    <div class="quote">
      <p>&nbsp; hungry to be seen & heard.”</p>
    </div>
    <p class="quote-name"> – Arnold Schwarzenegger</p>
  </section>
  <section>
    <div class="grid-vid">
      <video class="video-insert" controls autoplay>
        <source src="/videos/vid4.mp4" type="video/mp4">
        </video>
      </div>
    </section>
