<a href="/admin/members">
  <button type="button" name="button">MEMBERS</button>
</a>
<a href="/admin/sessions">
  <button type="button" name="button">SESSIONS</button>
</a>
<a href="/admin/bookings">
  <button type="button" name="button">BOOKINGS</button>
</a>
<a href="/admin/instructors">
  <button type="button" name="button">INSTRUCTORS</button>
</a>
<a href="/admin/rooms">
  <button type="button" name="button">ROOMS</button>
</a>
