<div class="grid">
  <div class="grid-row grid-row-sm">
    <div class="cell_container">
      <a href="/admin/members">
        <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
          <div class="bottom-right">MEMBERS</div>
        </div>
      </a>
    </div>
    <div class="cell_container">
      <a href="/admin/sessions">
        <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
          <div class="bottom-right">SESSIONS</div>
        </div>
      </a>
    </div>
    <div class="cell_container">
      <a href="/admin/bookings">
        <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
          <div class="bottom-right">BOOKINGS</div>
        </div>
      </a>
    </div>
  </div>
  <div class="grid-row grid-row-sm">
    <div class="cell_container">
      <a href="/admin/instructors">
        <div class="cell4"><img class="img1" src="/images/sessions.webp" alt="">
          <div class="bottom-right">INSTRUCTORS</div>
        </div>
      </a>
    </div>
    <div class="cell_container">
      <a href="/admin/rooms">
        <div class="cell5"><img class="img1" src="/images/sessions.webp" alt="">
          <div class="bottom-right">STUDIOS</div>
        </div>
      </a>
    </div>
    <div class="cell_container">
      <a href="/admin/equipment">
        <div class="cell6"><img class="img1" src="/images/sessions.webp" alt="">
          <div class="bottom-right">EQUIPMENT</div>
        </div>
      </a>
    </div>
  </div>
