<a href="/admin/members">
  <button type="button" name="button">MEMBERS</button>
</a>
<a href="/admin/classes">
  <button type="button" name="button">CLASSES</button>
</a>
<a href="/admin/bookings">
  <button type="button" name="button">BOOKINGS</button>
</a>
