<a href="/admin">
  <button type="button">HOME</button>
</a>
<a href="/admin/members">
  <button type="button">MEMBERS</button>
</a>
<a href="/admin/bookings">
  <button type="button">SESSIONS</button>
</a>
<a href="/admin/bookings">
  <button type="button">BOOKINGS</button>
</a>
<a href="/admin/members/create">
  <button type="button" name="button">CREATE</button>
</a>
<hr>
<form action="/admin/members" method="POST">
  <label for="first_name">First Name:</label>
  <input id="first_name" type="string" name="first_name" required/>
  <label for="last_name">Last Name: </label>
  <input id="last_name" type="string" name="last_name" required/>
  <label for="date_of_birth">D.0.B: </label>
  <input id="date_of_birth" type="date" name="date_of_birth" required/>
  <label for="membership_type">Membership Type:</label>
  <select id="membership_type" name="membership_type">
    <option value="PREMUIM">PREMUIM</option>
    <option value="STANDARD">STANDARD</option>
  </select>
  <label for="active">Active? </label>
  <input id="active" type="checkbox" name="active"/>
  <br/>
  <br/>
  <button type="submit" name="button">CREATE</button>
</form>
