<a href="/admin/members">
  <button type="button">HOME</button>
</a>
<form action="/admin/members/<%= @member.id() %>" method="POST">
  <label for="first_name">First Name:</label>
  <input id="first_name" type="string" name="first_name" required/>
  <label for="last_name">Last Name: </label>
  <input id="last_name" type="string" name="last_name" required/>
  <label for="date_of_birth">D.0.B: </label>
  <input id="date_of_birth" type="date" name="date_of_birth" required/>
  <label for="active">Active? </label>
  <input id="active" type="checkbox" name="active" required/>
  <br/>
  <br/>
  <button type="submit" name="button">SUBMIT</button>
</form>
