<a href="/admin">
  <button type="button">HOME</button>
</a>

<div>
  <hr>
  <p>NEW MEMBER CREATED</p>
  <hr>
  <p>Member: <%= @new_member.full_name %></p>
  <p>DOB: <%= @new_member.date_of_birth %></p>
  <p>Membership Number: <%= @new_member.id %></p>
</div>

<form action="/admin/members/<%= @new_member.id %>/add_details" method="post">
  <button type="submit">Add Details</button>
</form>
