<a href="/admin/rooms/create">
  <button type="button" name="button">CREATE</button>
</a>
<div class="box">
<form action="/admin/rooms" method="POST">
  <label for="name">Studio Name</label>
  <input id="name" type="text" name="name" required/>
  <br/>
  <br/>
  <button type="submit" name="button">CREATE</button>
</form>
</div>
