<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/rooms">
          <div class="cell2"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">STUDIOS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/rooms/create">
          <div class="cell3"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="box">
      <form action="/admin/rooms/<%= @room.id() %>" method="POST">
        <label for="name">Studio Name</label>
        <input id="name" type="text" name="name" value="<%=@room.name%>" required/>
        <br/>
        <br/>
        <button type="submit" name="button">UPDATE</button>
      </form>
    </div>
  </section>
