<a href="/admin/rooms/create">
  <button type="button">CREATE</button>
</a>
<% for equipment in @equipment %>
<div class="">
<p>Type: <%=equipment.type()%></p>
<p>Quantity: <%=equipment.quantity()%></p>
<hr>
<%end%>
</div>
