<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/rooms">
          <div class="cell2"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">STUDIOS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/rooms/create">
          <div class="cell3"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index-table">
      <div class="table-container">
        <div class="flex-row table-flex">
          <div class="flex-cell table-headers">Studio</div>
          <div class="flex-cell table-headers">Studio ID</div>
          <div class="flex-cell table-headers">Edit</div>
          <div class="flex-cell table-headers">Equipment</div>
        </div>
        <% for room in @rooms %>
        <div class="flex-row table-flex">
          <div class="flex-cell table-cells"><%=room.name()%></div>
          <div class="flex-cell table-cells"><%=room.id()%></div>
          <div class="flex-cell table-cells">
            <a href="/admin/rooms/<%= room.id() %>/edit">
              <button class="tables" type="button" name="button">EDIT</button>
            </a>
          </div>
          <div class="flex-cell table-cells">
            <a href="/admin/rooms/<%= room.id() %>/equipment">
              <button class="tables" type="button" name="button">EQUIPMENT</button>
            </a>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </section>
