<a href="/admin/rooms/create">
  <button type="button" name="button">CREATE</button>
</a>
<div class="index">
<p>ROOM</p>
<hr>
<p>Room: <%= @room.name() %></p>
<p>Room ID: <%= @room.id() %></p>
<a href="/admin/rooms/<%= @room.id() %>/edit">
  <button type="button" name="button">EDIT</button>
</a>
</div>
