<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/rooms">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">ROOMS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/rooms/create">
          <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index">
      <p>ROOM</p>
      <hr>
      <p>Room: <%= @room.name() %></p>
      <p>Room ID: <%= @room.id() %></p>
      <a href="/admin/rooms/<%= @room.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
    </div>
  </section>
