<a href="/admin/rooms/create">
  <button type="button" name="button">CREATE</button>
</a>
<div class="index">
<p>NEW ROOM</p>
<hr>
<p>Room: <%= @new_room.name() %></p>
<p>Room ID: <%= @new_room.id() %></p>
<a href="/admin/rooms/<%= @new_room.id() %>/edit">
  <button type="button" name="button">EDIT</button>
</a>
</div>
