<div>
  <p>Title: <%= @found_class.title %></p>
  <p>Description: <%= @found_class.description %></p>
  <p>Instrcutor: <%= @found_class.instructor_id %></p>
  <p>Room: <%= @found_class.room_id %></p>
</div>
