<a href="/admin/classes">
  <button type="button">CLASSES</button>
</a>
<p>Title: <%= @new_class.title %></p>
<p>Description: <%= @new_class.description %></p>
<p>Instrcutor: <%= @new_class.instructor_id %></p>
<p>Room: <%= @new_class.room_id %></p>
