<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Gym.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/users">
          <div class="cell1"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">MEMBERS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/users/sessions">
          <div class="cell3"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">SESSIONS</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="box2">
      <form action="/users/members" method="POST">
        <label for="first_name">First Name</label>
        <input id="first_name" type="text" name="first_name" required/>
        <label for="last_name">Last Name </label>
        <input id="last_name" type="text" name="last_name" required/>
        <label for="date_of_birth">D.0.B </label>
        <input id="date_of_birth" type="date" name="date_of_birth" required/>
        <label for="membership_type">Membership Type</label>
        <select id="membership_type" name="membership_type">
          <option value="PREMIUM">PREMIUM</option>
          <option value="STANDARD">STANDARD</option>
        </select>
        <br/>
        <br/>
        <button type="submit" name="button">SIGN UP</button>
      </form>
    </div>
    <div class="arnie"></div>
  </section>
  <section >
    <div class="quote">
      <p>“If you don’t find the time,</p>
    </div>
    <div class="quote-middle">
      <p>&nbsp; if you don’t do the work,</p>
    </div>
    <div class="quote">
      <p>&nbsp; you don’t get the results.”</p>
    </div>
    <p class="quote-name"> – Arnold Schwarzenegger</p>
  </section>
  <section class="box3">
    <div class="calendar">
      <div class="month">
        <ul class="none">
          <li>
            April<br>
            <span style="font-size:8vw">2020</span>
          </li>
        </ul>
      </div>
      <ul class="weekdays">
        <li>M</li>
        <li>T</li>
        <li>W</li>
        <li>T</li>
        <li>F</li>
        <li>S</li>
        <li>S</li>
      </ul>

      <ul class="days">
        <li></li>
        <li></li>
        <li><a href="/users/sessions">1</a></li>
        <li><a href="/users/sessions">2</a></li>
        <li><a href="/users/sessions">3</a></li>
        <li><a href="/users/sessions">4</a></li>
        <li><a href="/users/sessions">5</a></li>
        <li><a href="/users/sessions">6</a></li>
        <li><a href="/users/sessions">7</a></li>
        <li><a href="/users/sessions">8</a></li>
        <li><a href="/users/sessions">9</a></li>
        <li><a href="/users/sessions">10</a></li>
        <li><a href="/users/sessions">11</a></li>
        <li><a href="/users/sessions">12</a></li>
        <li><a href="/users/sessions">13</a></li>
        <li><a href="/users/sessions">14</a></li>
        <li><a href="/users/sessions">15</a></li>
        <li><a href="/users/sessions">16</a></li>
        <li><a href="/users/sessions">17</a></li>
        <li><a href="/users/sessions">18</a></li>
        <li><a href="/users/sessions">19</a></li>
        <li><a href="/users/sessions">20</a></li>
        <li><a href="/users/sessions">21</a></li>
        <li><a href="/users/sessions">22</a></li>
        <li><a href="/users/sessions">23</a></li>
        <li><a href="/users/sessions">24</a></li>
        <li><a href="/users/sessions">25</a></li>
        <li><a href="/users/sessions">26</a></li>
        <li><a href="/users/sessions">27</a></li>
        <li><a href="/users/sessions">28</a></li>
        <li><a href="/users/sessions">29</a></li>
        <li><a href="/users/sessions">30</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="quote">
      <p>“If you don’t find the time,</p>
    </div>
    <div class="quote-middle">
      <p>&nbsp; if you don’t do the work,</p>
    </div>
    <div class="quote">
      <p>&nbsp; you don’t get the results.”</p>
    </div>
    <p class="quote-name"> – Arnold Schwarzenegger</p>
  </section>
  <section>
    <div class="grid-vid">
      <video class="video-insert" autoplay loop>
        <source src="/videos/vid2.mp4" type="video/mp4">
        </video>
      </div>
    </section>
