body, html {
  overflow-x: hidden;
}

/* HERO IMAGE */
.home {
  background-image: url("/images/hero.jpeg");
  height: 65vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
}

.home-container {
  font-family: 'Montserrat', monospace;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  position: relative;
  text-align: center;
  color: #414141;
}

.bottom-left {
  position: absolute;
  bottom: 15px;
  left: 16px;
  font-size: 18vw;
}
/* HERO IMAGE END  */


/* FLEXBOX MENU */
.grid {
  font-family: 'Montserrat', monospace;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  border: solid 10px white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.cell1 {
  border: solid 10px white;
  background-color: #fe5ebb;
  flex: 1;
}

.cell1:hover {
  background-color: #B200FF;
}

.cell2 {
  border: solid 10px white;
  background-color: #57d7e9;
  flex: 1;
}

.cell2:hover {
  background-color: #B200FF;
}

.cell3 {
  border: solid 10px white;
  background-color: #99db35;
  flex: 1;
}

.cell3:hover {
  background-color: #B200FF;
}

.cell4 {
  border: solid 10px white;
  background-color: #57d7e9;
  flex: 1;
}

.cell4:hover {
  background-color: #B200FF;
}

.cell5 {
  border: solid 10px white;
  background-color: #99db35;
  flex: 1;
}

.cell5:hover {
  background-color: #B200FF;
}

.cell6 {
  border: solid 10px white;
  background-color: #fe5ebb;
  flex: 1;
}

.cell6:hover {
  background-color: #B200FF;
}

.cell_container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 3.5vw;
}

@media all and ( max-width: 830px ) {
  .grid-row-sm{
    flex-direction: column;
  }
}
@media all and ( max-width: 830px ) {
  .menu_grid-row-sm{
    flex-direction: column;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.img1 {
  max-width: 100%;
  height: auto;
  opacity: 0.15;
}
/* FLEXBOX MENU END */


/* NAVBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 2;
  overflow: hidden;
  background-color: #414141;
  width: 100vw;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fe5ebb;
}
/* NAVBAR END */


/* ICONS */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}
/* ICONS END */


/* FOOTER */
#page-container {
  position: relative;
  min-height: 100vh;
  background-color: #FDFDFD;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  display: block;
  background-color: #414141;
  padding: 7px 18px;
}
/* FOOTER END */


/* FORM */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #fe5ebb;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #fe5ebb;
  border-radius: 4px;
  box-sizing: border-box;
  align-content: center;
}

input[type=checkbox], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #fe5ebb;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #fe5ebb;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=time], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #fe5ebb;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #fe5ebb;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px
}

button[type=submit] {
  width: 100%;
  background-color: #414141;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px
}

button[type=submit]:hover {
  background-color: #fe5ebb;
}

.box {
  border-radius: 5px;
  background-color: #fff;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 180px;
  font-family: 'Montserrat', monospace;
  position: relative;
  font-size: 20px;
}

select:hover {
  background-color: #fe5ebb;
}
/* FORM END */


/* INDEX */
.index {
  background-color: #57d7e9;
  font-family: 'Montserrat', monospace;
  font-size: 20px;
  width: 100vw;
}

button[type=button] {
  background-color: #414141; ]
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}

button[type=button]:hover {
  background-color: #fe5ebb;
}
/* INDEX END */


/* SESSION LINE BREAK */
.colour {
  border-color: #fe5ebb;
}
/* SESSION LINE BREAK END */

/* HOMEPAGE QUOTE */
.quote {
position: absolute;
bottom: 15px;
left: 16px;
font-size: 6vw;
font-family: 'Montserrat', monospace;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
position: relative;
text-align: justify;
color: #414141;
}

.quote-middle {
position: absolute;
bottom: 15px;
left: 16px;
font-size: 6vw;
font-family: 'Montserrat', monospace;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
position: relative;
text-align: justify;
color: #414141;
padding-left:3.2em
}

.quote-name {
position: absolute;
bottom: 15px;
left: 16px;
font-size: 2.5vw;
font-family: 'Montserrat', monospace;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
position: relative;
text-align: justify;
color: #414141;
padding-left: 24.5em;
font-style: italic;
}
/* HOMEPAGE QUOTE END*/


/* HOMEPAGE SIGNUP */
.box2 {
  border-radius: 5px;
  background-color: #57d7e9;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Montserrat', monospace;
  position: relative;
  font-size: 20px;
}
/* HOMEPAGE SIGNUP END */

/* HOMEPAGE BOX 2? */
.box3 {
  border-radius: 5px;
  background-color: #fe5ebb;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 400px;
  font-family: 'Montserrat', monospace;
  position: relative;
  font-size: 20px;
}
/* HOMEPAGE BOX 2? END */
