<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/equipment">
          <div class="cell2"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">EQUIPMENT</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/equipment/create">
          <div class="cell3"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="box">
      <form action="/admin/equipment" method="POST">
        <label for="type">Type</label>
        <input id="type" type="text" name="type" required/>
        <label for="quantity">Quantity</label>
        <input id="quantity" type="number" name="quantity" required/>
        <label for="room">Studio</label>
        <select id="room" name="room_id">
          <% for room in @rooms %>
          <option value="<%= room.id() %>">
            <%=  room.name() %>
          </option>
          <% end %>
        </select>
        <br/>
        <br/>
        <button type="submit" name="button">CREATE</button>
      </form>
    </div>
  </section>
