<a href="/admin">
  <button type="button">HOME</button>
</a>
<a href="/admin/equipment">
  <button type="button" name="button">EQUIPMENT</button>
</a>
<a href="/admin/equipment/create">
  <button type="button" name="button">CREATE</button>
</a>
<hr>
<% for equipment in @equipment %>
<p>Type: <%=equipment.type()%></p>
<p>Quantity: <%=equipment.quantity()%></p>
<p>Room: <%=equipment.show_room_name()%></p>
<a href="/admin/equipment/<%= equipment.id() %>/edit">
  <button type="button" name="button">EDIT</button>
</a>
<hr>
<%end%>
