<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/equipment">
          <div class="cell2"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">EQUIPMENT</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/equipment/create">
          <div class="cell3"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index-table">
      <div class="table-container">
        <div class="flex-row table-flex">
          <div class="flex-cell table-headers">Type</div>
          <div class="flex-cell table-headers">Quantity</div>
          <div class="flex-cell table-headers">Studio</div>
          <div class="flex-cell table-headers">Edit</div>
        </div>
        <% for equipment in @equipment %>
        <div class="flex-row table-flex">
          <div class="flex-cell table-cells"><%=equipment.type()%></div>
          <div class="flex-cell table-cells"><%=equipment.quantity()%></div>
          <div class="flex-cell table-cells"><%=equipment.show_room_name()%></div>
          <div class="flex-cell table-cells">
            <a href="/admin/equipment/<%= equipment.id() %>/edit">
              <button class="tables" type="button" name="button">EDIT</button>
            </a>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </section>
  <section>
