<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/equipment">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">EQUIPMENT</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/equipment/create">
          <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
<div class="index">
  <p>Type: <%= @new_equipment.type() %></p>
  <p>Quantity: <%= @new_equipment.quantity() %></p>
  <p>Room: <%= @new_equipment.show_room_name() %></p>
  <a href="/admin/equipment/<%= @new_equipment.id() %>/edit">
    <button type="button" name="button">EDIT</button>
  </a>
</div>
</section>
