<a href="/admin/bookings/new">
  <button type="button" name="button">BOOK</button>
</a>
<div class="background-colour"></div>
<div class="box">
<form action="/admin/bookings" method="post">
  <label for="member">Member</label>
  <select id="member" name="member_id">
    <% for member in @members %>
    <option value="<%= member.id() %>">
      <%=  member.full_name() %>
    </option>
    <% end %>
  </select>
  <label for="sessions">Session</label>
  <select id="sessions" name="session_id">
    <% for session in @sessions %>
    <% if session.over_capacity?() == false %>
    <option value="<%= session.id() %>">
      <%=  session.title() %>
    </option>
    <%end %>
    <% end %>
  </select>
  <button type="submit" name="button">BOOK</button>
</form>
</div>
