<a href="/admin/bookings">
  <button type="button">BOOKINGS</button>
</a>
<a href="/admin/bookings/new">
  <button type="button" name="button">BOOK</button>
</a>
<p>ERROR: Sessions during peak times are unavailable for this member!</p>
