<a href="/admin/bookings">
  <button type="button">BOOKINGS</button>
</a>
<p>Member: <%= @booking.member_id %></p>
<p>Class: <%= @booking.class_id %></p>
<p>Booking ID: <%= @booking.id %></p>
<a href="/admin/bookings/<%= @booking.id %>/edit">
  <button type="button" name="button">EDIT</button>
</a>
