<a href="/admin/bookings">
  <button type="button">BOOKINGS</button>
</a>
<a href="/admin/bookings/new">
  <button type="button" name="button">BOOK</button>
</a>
<p>NEW BOOKING</p>
<hr>
<p>Member: <%=@new_booking.member_id()%></p>
<p>Class: <%=@new_booking.class_id()%></p>
<p>Booking ID: <%=@new_booking.id()%></p>
<a href="/admin/bookings/<%= @new_booking.id() %>/edit">
  <button type="button" name="button">EDIT</button>
</a>
<hr>
