<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/bookings">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">BOOKINGS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/bookings/new">
          <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">BOOK</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index">
      <p>Member: <%=@new_booking.show_member_name()%></p>
      <p>Session: <%=@new_booking.show_session_title()%></p>
      <p>Booking ID: <%=@new_booking.id()%></p>
      <a href="/admin/bookings/<%= @new_booking.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
    </div>
    <br/>
    <br/>
  </section>
