<div>
  <hr>
  <% for session in @sessions %>
  <p><%=session.title()%></p>
  <p>Description: <%=session.description()%></p>
  <p>Instructor ID: <%=session.instructor_id()%></p>
  <p>Room ID: <%=session.room_id()%></p>
  <hr>
  <%end%>
</div>
