<a href="/admin/instructors/create">
  <button type="button" name="button">CREATE</button>
</a>
<div class="box">
<form action="/admin/instructors" method="POST">
  <label for="first_name">First Name</label>
  <input id="first_name" type="text" name="first_name" required/>
  <label for="last_name">Last Name</label>
  <input id="last_name" type="text" name="last_name" required/>
  <textarea id="profile" name="profile" rows="4" cols="80">Profile...</textarea>
  <label for="email_address">Email</label>
  <input id="email_address" type="text" name="email_address" required/>
  <br/>
  <br/>
  <button type="submit" name="button">CREATE</button>
</form>
