<a href="/admin/instructors/create">
  <button type="button" name="button">CREATE</button>
</a>
<% for instructor in @instructors %>
<div class="index">
  <p>Instructor: <%=instructor.full_name()%></p>
  <p>Instructor ID:<%=instructor.id()%></p>
  <a href="/admin/instructors/<%= instructor.id() %>/edit">
    <button type="button" name="button">EDIT</button>
  </a>
  <hr>
</div>
<%end%>
