<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/instructors">
          <div class="cell2"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">INSTRUCTORS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/instructors/create">
          <div class="cell3"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <% for instructor in @instructors %>
    <div class="index">
      <br>
      <p style="color:#fe5ebb;">Instructor: <span style="color:#414141;"><%=instructor.full_name()%></span></p>
      <p style="color:#fe5ebb;">Instructor ID: <span style="color:#414141;"><%=instructor.id()%></span></p>
      <a href="/admin/instructors/<%= instructor.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
      <br>
    </div>
    <br>
    <%end%>
    <br/>
    <br/>
  </section>
