  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/users/sessions">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">SESSIONS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/users/bookings/new">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">BOOK</div>
          </div>
        </a>
      </div>
    </div>
        <div class="grid-row grid-row-sm">
          <div class="cell_container">
            <a href="/users/instructors">
              <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
                <div class="bottom-right">INSTRUCTORS</div>
              </div>
            </a>
          </div>
          <div class="cell_container">
            <a href="/users/rooms">
              <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
                <div class="bottom-right">STUDIOS</div>
              </div>
            </a>
          </div>
        </div>
      </div>
