<div>
  <hr>
  <p>NEW MEMBER CREATED</p>
  <hr>
  <p>Member: <%= @new_member.full_name %></p>
  <p>DOB: <%= @new_member.date_of_birth %></p>
  <p>Member ID: <%= @new_member.id %></p>
</div>

<a href="/instructors/add_details_member">
  <button type="button" name="button">Add Details</button>
</a>
