<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/users">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/users/rooms">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">ROOMS</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <% for equipment in @equipment %>
    <div class="index">
      <br>
      <p>Type: <%=equipment.type()%></p>
      <p>Quantity: <%=equipment.quantity()%></p>
      <br>
    </div>
    <br>
    <%end%>
    <br/>
    <br/>
  </section>
