<a href="/admin/sessions/create">
  <button type="button">CREATE</button>
</a>
<% for member in @members %>
<div class="index">
<p>Member: <%=member.full_name()%></p>
<p>Membership No: <%=member.id()%></p>
<% booking = Booking.find_by_member_id(member.id) %>
<a href="/admin/bookings/<%= booking.id %>/edit">
  <button type="button" name="button">EDIT BOOKING</button>
</a>
</div>
<%end%>
