<a href="/admin/sessions">
  <button type="button">SESSIONS</button>
</a>
<p>Title: <%= @new_session.title() %></p>
<p>Description: <%= @new_session.description() %></p>
<p>Instrcutor: <%= @new_session.instructor_id() %></p>
<p>Room: <%= @new_session.room_id() %></p>
