<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<div class="box">
<form action="/admin/sessions/<%= @session.id %>/date_time/update" method="post">
  <input type="hidden" name="id" value="<%=@session_date_time.id %>">
  <label for="start_time">Start Time</label>
  <input id="start_time" type="time" name="start_time" required>
  <label for="end_time">End Time</label>
  <input id="end_time" type="time" name="end_time" required>
  <label for="session_date">Date</label>
  <input id="session_date" type="date" name="session_date" required>
  <button type="submit" name="button">UPDATE</button>
</form>
</div>
